<h1> Welcome to The Pet Repository! 🐶 </h1>
<br/>
<p> This is a repository for your favorite pet pictures! </p>
<p> Browse our user submissions, or sign in and contribute your own! </p>

<div class="card" style="width: 45rem;">
  <div class="card-body">
    <h5 class="card-title">... Don't have any cute pet pictures to call your own? </h5>
    <p class="card-text">Don't worry! Click the link below to get your own unique machine generated dog pets! </p>
    <a href="https://xinxin001.github.io/ArtisticAnimalsWebApp/" target="_blank" class="btn btn-primary">The Artistic Animals Gallery</a>
  </div>
</div>
<br/>
<div class="card" style="width: 45rem;">
  <div class="card-body">
    <h5 class="card-title"> More on how I built this: </h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Personal Profile: 
            <a href="https://github.com/xinxin001/" target="_blank">GitHub</a> | 
            <a href="https://xinxin001.github.io/" target="_blank">Blog</a> 
        </li>
        <li class="list-group-item">
            The Pet Repository: <a href="https://github.com/xinxin001/ImageRepository" target="_blank">GitHub</a>
        </li>
        <li class="list-group-item">
            Artistic Animals: 
            <a href="https://github.com/xinxin001/ArtisticAnimals" target="_blank">GitHub</a> | 
            <a href="https://xinxin001.github.io/artisticanimals" target="_blank">Blog</a>
        </li>
    </ul>

  </div>
</div>