<h1>Editing Picture</h1>

<%= render 'form', picture: @picture %>

<%= link_to 'Show', @picture, class:'btn btn-secondary' %> |
<%= link_to 'Delete', @picture, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %> | 
<%= link_to 'Back', pictures_path, class:'btn btn-dark' %>
